@model CourseViewModel
@{
    Layout = "_HeaderFooterLayout";   
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Update Course</h3> 
            <br />
            <form asp-action="SaveEdit" asp-route-id="@Model.Id" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label> Course </label>
                    @if (!string.IsNullOrEmpty(Model.Photo))
                    {
                        <img src="@Url.Content("~/img/" + Model.Photo)" alt="Current Photo" style="max-width: 100%; height: auto;" />
                        @* <p>Current Image Path: @Model.Photo</p> *@
                    }
                    else
                    {
                        <p>No photo available</p>
                    }

                    @* <div class="form-group">
                    <label>Upload New Photo (optional)</label>
                    <input type="file" class="form-control" asp-for="formFile" />
                    <span class="text-danger" asp-validation-for="formFile"></span>
                    </div> *@
                </div>
                <br />
                <div class="form-group">

                    <label asp-for="Title">Title</label>
                    <input class="form-control" asp-for="Title" />
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <br /> 
           
          @*   <div class="form-group">
                    <label asp-for="formFile">Photo</label>
                    <input type="file" class="form-control" asp-for="formFile" />
                    <span class="text-danger" asp-validation-for="formFile"></span>
                </div>  *@

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input class="form-control" asp-for="Description" />
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input class="form-control" asp-for="Price" />
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="InstructorId">InstructorId</label>
                    <input class="form-control" asp-for="InstructorId" />
                    <span class="text-danger" asp-validation-for="InstructorId"></span>
                </div>
                <br />
                <br />
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a> 
            </form> 
        </div>
    </div>
</div>

@section Scripts {
        < partial name="_ValidationScriptsPartial" />
}














