
@{
    Layout = "_HeaderFooterLayout";
    ViewData["Title"] = "manage";
}


<div class="card mb-3">
    <div class="card-header">
        <h5>Topic 1</h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="TopicName1">Topic Title</label>
            <input type="text" name="Topics[0].Title" class="form-control" placeholder="Enter topic title" value="Static Topic Title 1" />
        </div>

        <div class="form-group">
            <label for="Lecture1">Lecture 1 Title</label>
            <input type="text" name="Topics[0].Lectures[0].Title" class="form-control" value="Static Lecture 1 under Topic 1" />
        </div>

        <div class="form-group">
            <label for="Lecture2">Lecture 2 Title</label>
            <input type="text" name="Topics[0].Lectures[1].Title" class="form-control" value="Static Lecture 2 under Topic 1" />
        </div>
    </div>
    </div>


